* {
    font-size: 100px;
}

.item {
    opacity: 0;
}

.show {
    animation: show 1s;
    animation-fill-mode: forwards;
}

@keyframes show {
    from {
        opacity: 0
    }
    to {
        opacity: 100;
    }
}